<h1>PAINEL ADMINISTRATIVO</h1>


<form action="/cargo/create" method="POST">

<div class="voltar">
    <button class="botao-env" onclick="Voltar()">Voltar</button>
</div>


    <div class="form-control">

        <label for="denominacao">
            Nome do cargo:
        </label>
        <input type="text" name="denominacao" placeholder="Digite o nome do Cargo.">

    </div>

    <div class="form-control">

        <label for="salariobase">
            SALÁRIO:
        </label>
        <input type="number" name="salariobase" placeholder="Digite o Salário">

    </div>

    <div class="botao-espacamento">
        <button type="submit" class="botao-env">Cadastrar</button>
    </div>

</form>

