<h1>ADICIONAR EMPRESA</h1>

<form action="/empresa/create" method="POST">

<div class="voltar">
    <button class="botao-env" onclick="Voltar()">Voltar</button>
</div>


    <div class="form-control">

        <label for="denominacao">
            Nome da Empresa:
        </label>
        <input type="text" name="denominacao" placeholder="Digite o nome do Cargo.">

    </div>

    <div class="botao-espacamento">
        <button type="submit" class="botao-env">Cadastrar</button>
    </div>

</form>

